/*Variables*/
$color-primary: #1868ae;
$color-secondary : #d9a5b3 ;
$color-tertiary : #c6d7eb;
$color-black : #28282B;
$color-white : #fbfcf8;

/* BORDER RADIUS VARIABLES */
$border-radius-1: 1.2rem;
$border-radius-2: 0.8rem;
$border-radius-3: 0.5rem;
/* Sizes */
$fontSizeRoot : 16px;
$fontSizeLarge : 1.5rem;